body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.expenseGraph {
  width: 200px;
  height: 120px;
  margin: 3px;
  padding: 3px;
}
.monthlyExpenseCard {
  position: absolute;
  width: 500px;
  height: fixed;
  z-index: 15;
  top: 40%;
  left: 41%;
  margin: -100px 0 0 -150px;
  background: rgb(204, 221, 219);
  text-align: center;
 
 
}
.editExpenseClass {
  position: absolute;
  width: 500px;
  height: fixed;
  z-index: 15;
  top: 40%;
  left: 41%;
  margin: -100px 0 0 -150px;
  background: rgb(204, 221, 219);
  text-align: center;
 
 
}
.editBudgetCard {
  position: absolute;
  width: 500px;
  height: fixed;
  z-index: 15;
  top: 40%;
  left: 41%;
  margin: -100px 0 0 -150px;
  background: rgb(204, 221, 219);
  text-align: center;
 
 
}
.homePageExpenseList {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: left;
}

.loginForm {
  position: absolute;
  width: 500px;
  height: fixed;
  z-index: 15;
  top: 40%;
  left: 41%;
  margin: -100px 0 0 -150px;
  background: rgb(204, 221, 219);
  text-align: center;
}

.main-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(187, 230, 239);
  color: white;
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
}
